# Time series

In [1]:
from __future__ import division
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn
import numpy as np
pd.options.display.max_rows = 12
np.set_printoptions(precision=4, suppress=True)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(12, 4))

In [2]:
%matplotlib inline

## Date and Time Data Types and Tools

In [4]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2018, 4, 22, 18, 44, 26, 122600)

In [5]:
now.year, now.month, now.day

(2018, 4, 22)

In [6]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(926, 56700)

In [7]:
delta.days

926

In [8]:
delta.seconds

56700

In [9]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12)
# so here timedelta(n) represents the day difference?

datetime.datetime(2011, 1, 19, 0, 0)

In [10]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### Converting between string and datetime

In [11]:
stamp = datetime(2011, 1, 3)

In [12]:
str(stamp)

'2011-01-03 00:00:00'

In [13]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [14]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [15]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [16]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [17]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [18]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [19]:
datestrs

['7/6/2011', '8/6/2011']

In [20]:
pd.to_datetime(datestrs)
# note: output changed (no '00:00:00' anymore)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [21]:
idx = pd.to_datetime(datestrs + [None]) 
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [22]:
idx[2]# None will be converted into NaT format

NaT

In [23]:
pd.isnull(idx)

array([False, False,  True])

## Time Series Basics

In [24]:
from datetime import datetime
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),
         datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = Series(np.random.randn(6), index=dates)
ts

2011-01-02   -0.797813
2011-01-05   -0.108148
2011-01-07   -2.997865
2011-01-08   -0.382322
2011-01-10    0.285715
2011-01-12    1.125132
dtype: float64

In [25]:
type(ts)
# note: output changed to "pandas.core.series.Series"

pandas.core.series.Series

In [26]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [31]:
ts[::2]

2011-01-02   -0.797813
2011-01-07   -2.997865
2011-01-10    0.285715
dtype: float64

In [32]:
ts + ts[::2]

2011-01-02   -1.595626
2011-01-05         NaN
2011-01-07   -5.995731
2011-01-08         NaN
2011-01-10    0.571429
2011-01-12         NaN
dtype: float64

In [33]:
ts.index.dtype
# note: output changed from dtype('datetime64[ns]') to dtype('<M8[ns]')

dtype('<M8[ns]')

In [34]:
stamp = ts.index[0]
stamp
# note: output changed from <Timestamp: 2011-01-02 00:00:00> to Timestamp('2011-01-02 00:00:00')

Timestamp('2011-01-02 00:00:00')

### Indexing, selection, subsetting

In [35]:
stamp = ts.index[2]
ts[stamp]

-2.997865390085807

In [36]:
ts['1/10/2011']

0.28571467090769825

In [37]:
ts['20110110']

0.28571467090769825

In [41]:
longer_ts = Series(np.random.randn(1000),
                   index=pd.date_range('1/1/2000', periods=1000))
longer_ts
#pd.date_range() 学到了

2000-01-01    1.000912
2000-01-02    0.032548
2000-01-03   -0.024195
2000-01-04   -0.372948
2000-01-05    1.406800
2000-01-06    1.801520
                ...
2002-09-21    0.062929
2002-09-22   -0.583512
2002-09-23   -0.780689
2002-09-24   -0.249257
2002-09-25   -1.073171
2002-09-26    2.025269
Freq: D, Length: 1000, dtype: float64

In [42]:
longer_ts['2001'] 
# so the labels seem to have hirarchey between years, months and dates.

2001-01-01   -0.251128
2001-01-02    0.150394
2001-01-03    0.579702
2001-01-04   -0.252773
2001-01-05   -0.316342
2001-01-06   -0.372215
                ...
2001-12-26   -1.366313
2001-12-27   -0.997671
2001-12-28   -0.747841
2001-12-29    0.709641
2001-12-30   -0.701343
2001-12-31    0.449861
Freq: D, Length: 365, dtype: float64

In [40]:
longer_ts['2001-05']

2001-05-01    0.934186
2001-05-02    0.203090
2001-05-03   -1.375994
2001-05-04    0.104606
2001-05-05    1.419905
2001-05-06   -0.197378
                ...
2001-05-26   -1.017064
2001-05-27   -0.837147
2001-05-28   -1.300922
2001-05-29   -1.319884
2001-05-30    1.541730
2001-05-31   -0.563474
Freq: D, Length: 31, dtype: float64

In [45]:
#ts[datetime(2011, 1, 7):]


ts[datetime(2011, 1, 12):]
#this is the latest day in the time series

2011-01-12    1.125132
dtype: float64

In [46]:
ts

2011-01-02   -0.797813
2011-01-05   -0.108148
2011-01-07   -2.997865
2011-01-08   -0.382322
2011-01-10    0.285715
2011-01-12    1.125132
dtype: float64

In [47]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -2.997865
2011-01-08   -0.382322
2011-01-10    0.285715
dtype: float64

In [48]:
ts.truncate(after='1/9/2011')
#truncate - 截断

2011-01-02   -0.797813
2011-01-05   -0.108148
2011-01-07   -2.997865
2011-01-08   -0.382322
dtype: float64

In [51]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = DataFrame(np.random.randn(100, 4),
                    index=dates,
                    columns=['Colorado', 'Texas', 'New York', 'Ohio'])
#long_df.loc['5-2001']
long_df.loc['2001-5']
#both can be executed correctly

            Colorado     Texas  New York      Ohio
2001-05-02 -0.755430 -0.162879  0.526313 -0.046202
2001-05-09  0.634272  1.088773  0.009046 -0.153045
2001-05-16  0.133328 -1.968828  0.624548  1.652708
2001-05-23  0.123113 -1.677107 -0.878943  0.782261
2001-05-30  1.225252  0.432683  0.556086  0.496529

### Time series with duplicate indices

In [53]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', 
                          '1/2/2000', '1/3/2000'])
dup_ts = Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [58]:
dup_ts.index.is_unique

False

In [59]:
dup_ts['1/3/2000']  # not duplicated

4

In [60]:
dup_ts['1/2/2000']  # duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [61]:
grouped = dup_ts.groupby(level=0)
#level : int, level name, or sequence of such, default None
#    If the axis is a MultiIndex (hierarchical), group by a particular
#    level or levels
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [63]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## Date ranges, Frequencies, and Shifting

In [64]:
ts

2011-01-02   -0.797813
2011-01-05   -0.108148
2011-01-07   -2.997865
2011-01-08   -0.382322
2011-01-10    0.285715
2011-01-12    1.125132
dtype: float64

In [71]:
ts.resample('d')
#pd.Series.resample(self, rule, ...
#here, 'D' is for rule, the offset string or object representing target conversion

#ts

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

The provided output in the textbook is as followed:

2011-01-02 0.690002

2011-01-03 NaN 

2011-01-04 NaN 

2011-01-05 1.001543 

2011-01-06 NaN 

2011-01-07 -0.503087 

2011-01-08 -0.622274 

2011-01-09 NaN 

2011-01-10 -0.921169 

2011-01-11 NaN 

2011-01-12 -0.726213 

Freq: D

**I guess this method is designed to generate more samples at the frequency 'Daily', sort of data augmentation?**

### Generating date ranges

In [72]:
index = pd.date_range('4/1/2012', '6/1/2012')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [73]:
pd.date_range(start='4/1/2012', periods=20) #start

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [75]:
pd.date_range(end='6/1/2012', periods=20) #end

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [80]:
pd.date_range('1/1/2000', '12/1/2000', freq='BM')
# BM ~ Business End of Month

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [81]:
pd.date_range('5/2/2012 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [82]:
pd.date_range('5/2/2012 12:56:31', periods=5, normalize=True)
#normalize : bool, default False
#    Normalize start/end dates to midnight before generating date range

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### Frequencies and Date Offsets

In [83]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [84]:
four_hours = Hour(4)
four_hours

In [88]:
pd.date_range('1/1/2000', '1/3/2000 23:59', freq='4h')
# so the end is not included here

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [89]:
Hour(2) + Minute(30)

In [90]:
pd.date_range('1/1/2000', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

#### Week of month dates

In [92]:
rng = pd.date_range('1/1/2012', '9/1/2012', freq='WOM-3FRI')
#‘WOM-3FRI’ means 3rd Friday of each month
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

### Shifting (leading and lagging) data

In [96]:
ts = Series(np.random.randn(4),
            index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31   -0.934807
2000-02-29   -0.897992
2000-03-31    0.563392
2000-04-30   -0.147564
Freq: M, dtype: float64

In [97]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.934807
2000-04-30   -0.897992
Freq: M, dtype: float64

In [98]:
ts.shift(-2)

2000-01-31    0.563392
2000-02-29   -0.147564
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [99]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -0.039382
2000-03-31   -1.627391
2000-04-30   -1.261921
Freq: M, dtype: float64

In [100]:
ts.shift(2, freq='M')

2000-03-31   -0.934807
2000-04-30   -0.897992
2000-05-31    0.563392
2000-06-30   -0.147564
Freq: M, dtype: float64

In [101]:
ts.shift(3, freq='D')

2000-02-03   -0.934807
2000-03-03   -0.897992
2000-04-03    0.563392
2000-05-03   -0.147564
dtype: float64

In [102]:
ts.shift(1, freq='3D')

2000-02-03   -0.934807
2000-03-03   -0.897992
2000-04-03    0.563392
2000-05-03   -0.147564
dtype: float64

In [103]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00   -0.934807
2000-02-29 01:30:00   -0.897992
2000-03-31 01:30:00    0.563392
2000-04-30 01:30:00   -0.147564
Freq: M, dtype: float64

#### Shifting dates with offsets

In [104]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011, 11, 17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [105]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [106]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [107]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [108]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [109]:
ts = Series(np.random.randn(20),
            index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts.groupby(offset.rollforward).mean()

2000-01-31    0.693715
2000-02-29    0.140796
2000-03-31    0.381821
dtype: float64

In [111]:
ts.resample('M').mean()

2000-01-31    0.693715
2000-02-29    0.140796
2000-03-31    0.381821
Freq: M, dtype: float64

## Time Zone Handling

In [112]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [113]:
tz = pytz.timezone('US/Eastern')
tz

### Localization and Conversion

In [114]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = Series(np.random.randn(len(rng)), index=rng)

In [133]:
#ts.index.tz?, I guess it means the TimeZone
print(ts.index.tz)

None

In [118]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [119]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00   -0.504508
2012-03-10 09:30:00+00:00   -0.736874
2012-03-11 09:30:00+00:00    0.376297
2012-03-12 09:30:00+00:00   -0.644281
2012-03-13 09:30:00+00:00    1.409277
2012-03-14 09:30:00+00:00   -0.766661
Freq: D, dtype: float64

In [120]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [121]:
ts_utc.tz_convert('US/Eastern')

2012-03-09 04:30:00-05:00   -0.504508
2012-03-10 04:30:00-05:00   -0.736874
2012-03-11 05:30:00-04:00    0.376297
2012-03-12 05:30:00-04:00   -0.644281
2012-03-13 05:30:00-04:00    1.409277
2012-03-14 05:30:00-04:00   -0.766661
Freq: D, dtype: float64

In [122]:
ts_eastern = ts.tz_localize('US/Eastern')
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -0.504508
2012-03-10 14:30:00+00:00   -0.736874
2012-03-11 13:30:00+00:00    0.376297
2012-03-12 13:30:00+00:00   -0.644281
2012-03-13 13:30:00+00:00    1.409277
2012-03-14 13:30:00+00:00   -0.766661
Freq: D, dtype: float64

In [123]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00   -0.504508
2012-03-10 15:30:00+01:00   -0.736874
2012-03-11 14:30:00+01:00    0.376297
2012-03-12 14:30:00+01:00   -0.644281
2012-03-13 14:30:00+01:00    1.409277
2012-03-14 14:30:00+01:00   -0.766661
Freq: D, dtype: float64

In [124]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

### Operations with time zone-aware Timestamp objects

In [132]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')
stamp_utc.tz_convert('US/Eastern')
#stamp

Timestamp('2011-03-11 23:00:00-0500', tz='US/Eastern')

In [126]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [127]:
stamp_utc.value

1299902400000000000

In [128]:
stamp_utc.tz_convert('US/Eastern').value

1299902400000000000

In [134]:
# 30 minutes before DST transition
from pandas.tseries.offsets import Hour
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [135]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [136]:
# 90 minutes before DST transition
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [137]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

### Operations between different time zones

In [138]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-07 09:30:00    0.516483
2012-03-08 09:30:00    0.200128
2012-03-09 09:30:00    0.772968
2012-03-12 09:30:00   -0.604451
2012-03-13 09:30:00    0.359585
2012-03-14 09:30:00    0.655059
2012-03-15 09:30:00   -1.459263
2012-03-16 09:30:00    0.468655
2012-03-19 09:30:00    0.238498
2012-03-20 09:30:00   -0.281488
Freq: B, dtype: float64

In [139]:
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts1[2:].tz_convert('Europe/Moscow')
result = ts1 + ts2
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

## Periods and Period Arithmetic

In [143]:
p = pd.Period(2007, freq='A-DEC')
p
#for item in p:
#    print(item)
#TypeError: 'Period' object is not iterable

Period('2007', 'A-DEC')

In [144]:
p + 5

Period('2012', 'A-DEC')

In [145]:
p - 2

Period('2005', 'A-DEC')

In [146]:
pd.Period('2014', freq='A-DEC') - p

7

In [147]:
rng = pd.period_range('1/1/2000', '6/30/2000', freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [148]:
Series(np.random.randn(6), index=rng)

2000-01   -0.350662
2000-02   -0.367959
2000-03    1.630766
2000-04    0.921474
2000-05   -1.403246
2000-06    0.183045
Freq: M, dtype: float64

In [149]:
values = ['2001Q3', '2002Q2', '2003Q1']
index = pd.PeriodIndex(values, freq='Q-DEC')
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

### Period Frequency Conversion

In [162]:
p = pd.Period('2007', freq='A-DEC')
p.asfreq('Y', how='start') #Y, M, D, H, Min, S

Period('2007', 'A-DEC')

In [163]:
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [165]:
p = pd.Period('2007', freq='A-JUN')
p.asfreq('M', 'start')

Period('2006-07', 'M')

In [166]:
p.asfreq('M', 'end')

Period('2007-06', 'M')

In [167]:
p = pd.Period('Aug-2007', 'M')
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [168]:
rng = pd.period_range('2006', '2009', freq='A-DEC')
ts = Series(np.random.randn(len(rng)), index=rng)
ts

2006   -0.134371
2007    0.537611
2008    0.836694
2009   -1.810709
Freq: A-DEC, dtype: float64

In [169]:
ts.asfreq('M', how='start')

2006-01   -0.134371
2007-01    0.537611
2008-01    0.836694
2009-01   -1.810709
Freq: M, dtype: float64

In [170]:
ts.asfreq('B', how='end')

2006-12-29   -0.134371
2007-12-31    0.537611
2008-12-31    0.836694
2009-12-31   -1.810709
Freq: B, dtype: float64

### Quarterly period frequencies

In [178]:
p = pd.Period('2012Q4', freq='Q-JAN')
#2012Q4 runs from November through January
p

Period('2012Q4', 'Q-JAN')

In [179]:
p.asfreq('D', 'start')

Period('2011-11-01', 'D')

In [180]:
p.asfreq('D', 'end')

Period('2012-01-31', 'D')

In [181]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
p4pm

Period('2012-01-30 16:00', 'T')

In [182]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [183]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')
ts = Series(np.arange(len(rng)), index=rng)
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int64

In [184]:
new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
ts.index = new_rng.to_timestamp()
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int64

### Converting Timestamps to Periods (and back)

In [196]:
# ends of the first three months of 2000
rng = pd.date_range('1/1/2000', periods=3, freq='M')


# a series of 3 random numbers, where their index is rng
ts = Series(randn(3), index=rng)


# now change the timeindex into just the integer times of the frequency unit
pts = ts.to_period()
pts

2000-01    0.320282
2000-02   -2.177963
2000-03    2.007146
Freq: M, dtype: float64

In [197]:
pts

2000-01    0.320282
2000-02   -2.177963
2000-03    2.007146
Freq: M, dtype: float64

In [198]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')
ts2 = Series(randn(6), index=rng)
ts2.to_period('M')

2000-01    0.509850
2000-01    0.554776
2000-01   -0.717137
2000-02   -1.549661
2000-02   -0.271137
2000-02   -0.338680
Freq: M, dtype: float64

In [199]:
pts = ts.to_period()
pts

2000-01    0.320282
2000-02   -2.177963
2000-03    2.007146
Freq: M, dtype: float64

In [200]:
pts.to_timestamp(how='end')

2000-01-31    0.320282
2000-02-29   -2.177963
2000-03-31    2.007146
Freq: M, dtype: float64

### Creating a PeriodIndex from arrays

In [ ]:
data = pd.read_csv('ch08/macrodata.csv')
data.year

In [ ]:
data.quarter

In [ ]:
index = pd.PeriodIndex(year=data.year, quarter=data.quarter, freq='Q-DEC')
index

In [201]:
data.index = index
data.infl

NameError: name 'data' is not defined

## Resampling and Frequency Conversion

In [203]:
rng = pd.date_range('1/1/2000', periods=100, freq='D')
ts = Series(randn(len(rng)), index=rng)
ts.resample('M').mean()

2000-01-31   -0.084255
2000-02-29    0.035542
2000-03-31   -0.441562
2000-04-30    0.357689
Freq: M, dtype: float64

In [205]:
ts.resample('M', kind='period').mean()

2000-01   -0.084255
2000-02    0.035542
2000-03   -0.441562
2000-04    0.357689
Freq: M, dtype: float64

### Downsampling

In [206]:
rng = pd.date_range('1/1/2000', periods=12, freq='T')
ts = Series(np.arange(12), index=rng)
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int64

In [208]:
ts.resample('5min').sum()
# note: output changed (as the default changed from closed='right', label='right' to closed='left', label='left'

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int64

In [209]:
ts.resample('5min', how='sum', closed='left')

/Users/Hansen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).sum()
  """Entry point for launching an IPython kernel.

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int64

In [215]:
ts.resample('5min', closed='left', label='left').sum()

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int64

In [214]:
ts.resample('5min', loffset='-1s').sum()

1999-12-31 23:59:59    10
2000-01-01 00:04:59    35
2000-01-01 00:09:59    21
Freq: 5T, dtype: int64

#### Open-High-Low-Close (OHLC) resampling

In [213]:
ts.resample('5min').ohlc()
# note: output changed because of changed defaults

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

#### Resampling with GroupBy

In [216]:
rng = pd.date_range('1/1/2000', periods=100, freq='D')
ts = Series(np.arange(100), index=rng)
ts.groupby(lambda x: x.month).mean()

1    15
2    45
3    75
4    95
dtype: int64

In [217]:
ts.groupby(lambda x: x.weekday).mean()

0    47.5
1    48.5
2    49.5
3    50.5
4    51.5
5    49.0
6    50.0
dtype: float64

### Upsampling and interpolation

In [232]:
frame = DataFrame(np.random.randn(2, 4),
                  index=pd.date_range('1/1/2000', periods=2, freq='W-WED'),
                  columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame

            Colorado     Texas  New York      Ohio
2000-01-05  1.143133  1.498145  1.209782 -0.826945
2000-01-12  1.000695 -1.780505 -0.658685  2.075037

In [233]:
df_daily = frame.resample('D')
df_daily
# so in the middle part(0106-0111)the initial data after .resample() is all NaN

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [234]:
frame.resample('D').ffill()

            Colorado     Texas  New York      Ohio
2000-01-05  1.143133  1.498145  1.209782 -0.826945
2000-01-06  1.143133  1.498145  1.209782 -0.826945
2000-01-07  1.143133  1.498145  1.209782 -0.826945
2000-01-08  1.143133  1.498145  1.209782 -0.826945
2000-01-09  1.143133  1.498145  1.209782 -0.826945
2000-01-10  1.143133  1.498145  1.209782 -0.826945
2000-01-11  1.143133  1.498145  1.209782 -0.826945
2000-01-12  1.000695 -1.780505 -0.658685  2.075037

In [235]:
frame.resample('D', limit=2).ffill()

            Colorado     Texas  New York      Ohio
2000-01-05  1.143133  1.498145  1.209782 -0.826945
2000-01-06  1.143133  1.498145  1.209782 -0.826945
2000-01-07  1.143133  1.498145  1.209782 -0.826945
2000-01-08  1.143133  1.498145  1.209782 -0.826945
2000-01-09  1.143133  1.498145  1.209782 -0.826945
2000-01-10  1.143133  1.498145  1.209782 -0.826945
2000-01-11  1.143133  1.498145  1.209782 -0.826945
2000-01-12  1.000695 -1.780505 -0.658685  2.075037

In [236]:
frame.resample('W-THU').ffill()

            Colorado     Texas  New York      Ohio
2000-01-06  1.143133  1.498145  1.209782 -0.826945
2000-01-13  1.000695 -1.780505 -0.658685  2.075037

### Resampling with periods

In [237]:
frame = DataFrame(np.random.randn(24, 4),
                  index=pd.period_range('1-2000', '12-2001', freq='M'),
                  columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame[:5]

         Colorado     Texas  New York      Ohio
2000-01  0.515163  2.326417 -1.955882  0.153711
2000-02  1.154748  0.255150 -0.457384  0.641923
2000-03  0.015531  1.251986  0.085829  0.124717
2000-04  1.139142 -0.578676  0.220065  0.147574
2000-05 -0.004673  0.331414 -0.786634 -0.257581

In [238]:
annual_frame = frame.resample('A-DEC').mean()
annual_frame

      Colorado     Texas  New York      Ohio
2000  0.002932  0.226735 -0.311990  0.364823
2001  0.568778 -0.023701 -0.017081 -0.297754

In [239]:
# Q-DEC: Quarterly, year ending in December
annual_frame.resample('Q-DEC').ffill()
# note: output changed, default value changed from convention='end' to convention='start' + 'start' changed to span-like
# also the following cells

        Colorado     Texas  New York      Ohio
2000Q1  0.002932  0.226735 -0.311990  0.364823
2000Q2  0.002932  0.226735 -0.311990  0.364823
2000Q3  0.002932  0.226735 -0.311990  0.364823
2000Q4  0.002932  0.226735 -0.311990  0.364823
2001Q1  0.568778 -0.023701 -0.017081 -0.297754
2001Q2  0.568778 -0.023701 -0.017081 -0.297754
2001Q3  0.568778 -0.023701 -0.017081 -0.297754
2001Q4  0.568778 -0.023701 -0.017081 -0.297754

In [240]:
annual_frame.resample('Q-DEC', convention='start').ffill()

        Colorado     Texas  New York      Ohio
2000Q1  0.002932  0.226735 -0.311990  0.364823
2000Q2  0.002932  0.226735 -0.311990  0.364823
2000Q3  0.002932  0.226735 -0.311990  0.364823
2000Q4  0.002932  0.226735 -0.311990  0.364823
2001Q1  0.568778 -0.023701 -0.017081 -0.297754
2001Q2  0.568778 -0.023701 -0.017081 -0.297754
2001Q3  0.568778 -0.023701 -0.017081 -0.297754
2001Q4  0.568778 -0.023701 -0.017081 -0.297754

In [241]:
annual_frame.resample('Q-MAR').ffill()

        Colorado     Texas  New York      Ohio
2000Q4  0.002932  0.226735 -0.311990  0.364823
2001Q1  0.002932  0.226735 -0.311990  0.364823
2001Q2  0.002932  0.226735 -0.311990  0.364823
2001Q3  0.002932  0.226735 -0.311990  0.364823
2001Q4  0.568778 -0.023701 -0.017081 -0.297754
2002Q1  0.568778 -0.023701 -0.017081 -0.297754
2002Q2  0.568778 -0.023701 -0.017081 -0.297754
2002Q3  0.568778 -0.023701 -0.017081 -0.297754

## Time series plotting

In [242]:
'''Erased because of lack of data'''
close_px_all = pd.read_csv('ch09/stock_px.csv', parse_dates=True, index_col=0)
close_px = close_px_all[['AAPL', 'MSFT', 'XOM']]
close_px = close_px.resample('B').ffill()
close_px.info()

FileNotFoundError: File b'ch09/stock_px.csv' does not exist

In [ ]:
close_px['AAPL'].plot()

In [ ]:
close_px.ix['2009'].plot()

In [ ]:
close_px['AAPL'].ix['01-2011':'03-2011'].plot()

In [ ]:
appl_q = close_px['AAPL'].resample('Q-DEC', fill_method='ffill')
appl_q.ix['2009':].plot()

## Moving window functions

In [ ]:
close_px = close_px.asfreq('B').fillna(method='ffill')

In [ ]:
close_px.AAPL.plot()
pd.rolling_mean(close_px.AAPL, 250).plot()

In [ ]:
plt.figure()

In [ ]:
appl_std250 = pd.rolling_std(close_px.AAPL, 250, min_periods=10)
appl_std250[5:12]

In [ ]:
appl_std250.plot()

In [ ]:
# Define expanding mean in terms of rolling_mean
expanding_mean = lambda x: rolling_mean(x, len(x), min_periods=1)

In [ ]:
pd.rolling_mean(close_px, 60).plot(logy=True)

In [ ]:
plt.close('all')

### Exponentially-weighted functions

In [ ]:
fig, axes = plt.subplots(nrows=2, ncols=1, sharex=True, sharey=True,
                         figsize=(12, 7))

aapl_px = close_px.AAPL['2005':'2009']

ma60 = pd.rolling_mean(aapl_px, 60, min_periods=50)
ewma60 = pd.ewma(aapl_px, span=60)

aapl_px.plot(style='k-', ax=axes[0])
ma60.plot(style='k--', ax=axes[0])
aapl_px.plot(style='k-', ax=axes[1])
ewma60.plot(style='k--', ax=axes[1])
axes[0].set_title('Simple MA')
axes[1].set_title('Exponentially-weighted MA')

### Binary moving window functions

In [ ]:
close_px
spx_px = close_px_all['SPX']

In [ ]:
spx_rets = spx_px / spx_px.shift(1) - 1
returns = close_px.pct_change()
corr = pd.rolling_corr(returns.AAPL, spx_rets, 125, min_periods=100)
corr.plot()

In [ ]:
corr = pd.rolling_corr(returns, spx_rets, 125, min_periods=100)
corr.plot()

### User-defined moving window functions

In [ ]:
from scipy.stats import percentileofscore
score_at_2percent = lambda x: percentileofscore(x, 0.02)
result = pd.rolling_apply(returns.AAPL, 250, score_at_2percent)
result.plot()

## Performance and Memory Usage Notes

In [ ]:
rng = pd.date_range('1/1/2000', periods=10000000, freq='10ms')
ts = Series(np.random.randn(len(rng)), index=rng)
ts

In [ ]:
ts.resample('15min', how='ohlc').info()

In [ ]:
%timeit ts.resample('15min', how='ohlc')

In [ ]:
rng = pd.date_range('1/1/2000', periods=10000000, freq='1s')
ts = Series(np.random.randn(len(rng)), index=rng)
%timeit ts.resample('15s', how='ohlc')